<!--<div class="toolbar">
    <a class="home-icon icon-outline" mat-button routerLink="/home">
       <mat-icon aria-hidden="false" aria-label="home icon">movie</mat-icon>
    </a>
    <a class="home">Movie Database</a>
    <div class="spacer">
        <div class="dropdown">
            <a class="dropbtn">Types</a>
            <div class="dropdown-content">
                <a href="popular">Popular Movies</a>
                <a href="top-rated">Top Rated</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn">Dropdown 2</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn">Dropdown 3</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    
        <form class="example-form" style="margin-right: 40px;">
            <mat-form-field class="example-full-width">
            <span matPrefix> </span>
            <input  #box (keyup.enter)="onEnter(box.value)" placeholder="Search for a movie">
            <button matSuffix mat-button (keyup.enter)="onEnter(box.value)">
                <mat-icon aria-hidden="false" aria-label="home icon">movie</mat-icon>
            </button>
            </mat-form-field>
            <br/>
            <!-- {{searchWord}} --
            </form>
    
    <h4><a routerLink="/login" style="font-weight: bolder;">Logout</a></h4>
</div>-->
<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav >
      <h3>Menu</h3>
      <mat-nav-list >
        
          <a mat-list-item class="listItems" routerLink="/home"><mat-icon>home</mat-icon>Home</a>
          <mat-divider></mat-divider>
          <br>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title  class="listItems">
                  Filters
                </mat-panel-title>
                
              </mat-expansion-panel-header >
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title  class="listItems">
                      Genre
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header >
                  <mat-chip-list>
                    <mat-chip [style.backgroundColor]="'aliceblue'" [style.color]="'black'"  *ngFor="let i of genre.genres">
                       {{i.name}}
                        
                      </mat-chip>
                  </mat-chip-list>
                </mat-expansion-panel><br>
            </mat-accordion>
            </mat-expansion-panel><br>
        </mat-accordion>
            <mat-divider></mat-divider>
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title  class="listItems">
                    Sorting
                  </mat-panel-title>
                  
                </mat-expansion-panel-header >
                <mat-accordion>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title  class="listItems">
                        Sort Results By
                      </mat-panel-title>
                      
                    </mat-expansion-panel-header >
                    <mat-nav-list>
                      <a mat-list-item class="listItems" (click)="sortBy('original_title.asc')">Title (A - Z)</a>
                      <mat-divider></mat-divider>
                      <a mat-list-item class="listItems" (click)="sortBy('original_title.desc')">Title (Z - A)</a>
                      <mat-divider></mat-divider>
                      <a mat-list-item class="listItems" (click)="sortBy('release_date.desc')">Release Date Descending</a>
                      <mat-divider></mat-divider>
                      <a mat-list-item class="listItems" (click)="sortBy('release_date.asc')">Release Date Ascending</a>
                      <mat-divider></mat-divider>
                      <a mat-list-item class="listItems" (click)="sortBy('vote_average.desc')">Critic Rating Descending</a>
                      <mat-divider></mat-divider>
                      <a mat-list-item class="listItems" (click)="sortBy('vote_average.asc')">Critic Rating Ascending</a>
                      <mat-divider></mat-divider>

                    </mat-nav-list>
                  </mat-expansion-panel><br>
              </mat-accordion>
              </mat-expansion-panel><br>
          </mat-accordion>
              <mat-divider></mat-divider>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title  class="listItems">
                        Types
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header >
                  <mat-nav-list >
                    <a mat-list-item class="listItems" href="popular">Popular Movies</a>
                    <a mat-list-item class="listItems" href="top-rated">Top Rated</a>
                </mat-nav-list>
                  
                </mat-expansion-panel><br>
        </mat-accordion>
            <mat-divider></mat-divider>
            <h5>Anything</h5>
            <mat-divider></mat-divider>
            <h5>Anything</h5>
            <mat-divider></mat-divider>

          
          <mat-divider></mat-divider>

      </mat-nav-list>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a class="home" routerLink="/home" style="color: lightblue;">Movie Database</a>
        <span class="toolbar-spacer"></span>
        <input  #box (keyup.enter)="onEnter(box.value)" placeholder="Search for a movie">
        <button matSuffix mat-button (enter)="onEnter(box.value)" style="background-color: lightcyan; color: black;">
            <mat-icon aria-hidden="false" aria-label="home icon">search</mat-icon>
        </button>
      </mat-toolbar>
 
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
